name: Build binaries

on: push

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cache
        id: cache
        uses: actions/cache@v3
        with:
          path: |
            /opt/ghcup
            /home/runner/.stack
          key: ${{ runner.os }}-build-${{ hashFiles('stack.yaml.lock') }}

      - name: Setup
        if: ${{ steps.cache.outputs.cache-hit != 'true' }}
        run: sudo .docker/setup.sh

      - name: Build
        run: |
          stack build

          cp .stack-work/dist/*/*/build/rpt/rpt rpt
          cp .docker/login login
          chmod +x rpt
          cp scripts/ref.txt ref.txt
          tar czf rpt-web.tar.gz www
          tar czf rpt-cgi.tar.gz exercises ref.txt rpt login

      - name: Artifact
        uses: actions/upload-artifact@v3
        with:
          name: rpt
          path: |
            rpt
            rpt-web.tar.gz
            rpt-cgi.tar.gz

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            rpt
            rpt-web.tar.gz
            rpt-cgi.tar.gz
            