name: Build binaries

on: push

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cache
        id: cache
        uses: actions/cache@v3
        with:
          path: |
            /opt/ghcup
            /home/runner/.cabal
            /home/runneradmin/.cabal
            /home/runner/.bashrc
            /home/runneradmin/.bashrc
          key: ${{ runner.os }}-build-${{ hashFiles('cabal.project') }}-${{ hashFiles('rpt.cabal') }}

      - name: Setup
        if: ${{ steps.cache.outputs.cache-hit != 'true' }}
        run: |
          export SHELL=/bin/bash
          .docker/setup.sh

      - name: Build
        run: |
          bash -ci "cabal build; exit"

          find . -name rpt -type f -exec cp {} rpt \;
          cp .docker/login login
          chmod +x rpt
          cp scripts/ref.txt ref.txt
          tar czf rpt-web.tar.gz www
          tar czf rpt-cgi.tar.gz exercises ref.txt rpt login

      - name: Regression Test
        env:
          RCLONE_CONFIG: ${{ secrets.RCLONE_CONFIG }}
        run: |
          sudo apt install -y rclone &>/dev/null

          # Download the base version of rpt to compare to
          wget --quiet https://github.com/${{ github.repository }}/releases/download/v1.1.0/rpt --output-document base-rpt && chmod +x base-rpt

          # Setup rsync for onedrive access
          echo "$RCLONE_CONFIG" | base64 -d > rclone.conf
          
          # Get database from onedrive and run tests
          rclone --config rclone.conf copy OneDrive:rpt/requests-rpt-cleaned-enhanced.db .
          ./RegressionTests.hs $PWD/requests-rpt-cleaned-enhanced.db $PWD/base-rpt $PWD/rpt

          # Remove files
          rm -rf rclone.conf requests-rpt-cleaned-enhanced.db
          unset RCLONE_CONFIG

      - name: Artifact
        uses: actions/upload-artifact@v3
        with:
          name: rpt
          path: |
            rpt
            rpt-web.tar.gz
            rpt-cgi.tar.gz

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            rpt
            rpt-web.tar.gz
            rpt-cgi.tar.gz
            
