:root {
  --md-source: #FFCD00;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #171000;
  --md-ref-palette-primary10: #241A00;
  --md-ref-palette-primary20: #3D2F00;
  --md-ref-palette-primary25: #4A3900;
  --md-ref-palette-primary30: #574500;
  --md-ref-palette-primary35: #655000;
  --md-ref-palette-primary40: #735C00;
  --md-ref-palette-primary50: #917400;
  --md-ref-palette-primary60: #B08D00;
  --md-ref-palette-primary70: #CFA600;
  --md-ref-palette-primary80: #F0C100;
  --md-ref-palette-primary90: #FFE089;
  --md-ref-palette-primary95: #FFEFCC;
  --md-ref-palette-primary98: #FFF8F0;
  --md-ref-palette-primary99: #FFFBFF;
  --md-ref-palette-primary100: #FFFFFF;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #171000;
  --md-ref-palette-secondary10: #241A00;
  --md-ref-palette-secondary20: #3D2F00;
  --md-ref-palette-secondary25: #4A3900;
  --md-ref-palette-secondary30: #574500;
  --md-ref-palette-secondary35: #655000;
  --md-ref-palette-secondary40: #735C00;
  --md-ref-palette-secondary50: #917400;
  --md-ref-palette-secondary60: #B08D00;
  --md-ref-palette-secondary70: #CFA600;
  --md-ref-palette-secondary80: #F0C100;
  --md-ref-palette-secondary90: #FFE089;
  --md-ref-palette-secondary95: #FFEFCC;
  --md-ref-palette-secondary98: #FFF8F0;
  --md-ref-palette-secondary99: #FFFBFF;
  --md-ref-palette-secondary100: #FFFFFF;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #001410;
  --md-ref-palette-tertiary10: #00201B;
  --md-ref-palette-tertiary20: #00382F;
  --md-ref-palette-tertiary25: #00443A;
  --md-ref-palette-tertiary30: #005045;
  --md-ref-palette-tertiary35: #005D51;
  --md-ref-palette-tertiary40: #006B5D;
  --md-ref-palette-tertiary50: #008675;
  --md-ref-palette-tertiary60: #00A38E;
  --md-ref-palette-tertiary70: #32BFA9;
  --md-ref-palette-tertiary80: #57DBC4;
  --md-ref-palette-tertiary90: #77F8E0;
  --md-ref-palette-tertiary95: #B6FFEE;
  --md-ref-palette-tertiary98: #E5FFF7;
  --md-ref-palette-tertiary99: #F3FFFA;
  --md-ref-palette-tertiary100: #FFFFFF;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2D0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7E0007;
  --md-ref-palette-error30: #93000A;
  --md-ref-palette-error35: #A80710;
  --md-ref-palette-error40: #BA1A1A;
  --md-ref-palette-error50: #DE3730;
  --md-ref-palette-error60: #FF5449;
  --md-ref-palette-error70: #FF897D;
  --md-ref-palette-error80: #FFB4AB;
  --md-ref-palette-error90: #FFDAD6;
  --md-ref-palette-error95: #FFEDEA;
  --md-ref-palette-error98: #FFF8F7;
  --md-ref-palette-error99: #FFFBFF;
  --md-ref-palette-error100: #FFFFFF;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #13110C;
  --md-ref-palette-neutral10: #1E1B16;
  --md-ref-palette-neutral20: #33302A;
  --md-ref-palette-neutral25: #3E3B35;
  --md-ref-palette-neutral30: #4A4640;
  --md-ref-palette-neutral35: #56524B;
  --md-ref-palette-neutral40: #625E57;
  --md-ref-palette-neutral50: #7B766F;
  --md-ref-palette-neutral60: #959088;
  --md-ref-palette-neutral70: #B0AAA2;
  --md-ref-palette-neutral80: #CCC6BD;
  --md-ref-palette-neutral90: #E8E2D9;
  --md-ref-palette-neutral95: #F7F0E7;
  --md-ref-palette-neutral98: #FFF8F0;
  --md-ref-palette-neutral99: #FFFBFF;
  --md-ref-palette-neutral100: #FFFFFF;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #141107;
  --md-ref-palette-neutral-variant10: #1F1B10;
  --md-ref-palette-neutral-variant20: #353024;
  --md-ref-palette-neutral-variant25: #403B2E;
  --md-ref-palette-neutral-variant30: #4C4639;
  --md-ref-palette-neutral-variant35: #585244;
  --md-ref-palette-neutral-variant40: #645E4F;
  --md-ref-palette-neutral-variant50: #7D7667;
  --md-ref-palette-neutral-variant60: #989080;
  --md-ref-palette-neutral-variant70: #B3AA99;
  --md-ref-palette-neutral-variant80: #CFC6B4;
  --md-ref-palette-neutral-variant90: #EBE1CF;
  --md-ref-palette-neutral-variant95: #FAF0DD;
  --md-ref-palette-neutral-variant98: #FFF8F0;
  --md-ref-palette-neutral-variant99: #FFFBFF;
  --md-ref-palette-neutral-variant100: #FFFFFF;
  /* light */
  --md-sys-color-primary-light: #735C00;
  --md-sys-color-on-primary-light: #FFFFFF;
  --md-sys-color-primary-container-light: #FFE089;
  --md-sys-color-on-primary-container-light: #241A00;
  --md-sys-color-primary-fixed-light: #FFE089;
  --md-sys-color-on-primary-fixed-light: #241A00;
  --md-sys-color-primary-fixed-dim-light: #F0C100;
  --md-sys-color-on-primary-fixed-variant-light: #574500;
  --md-sys-color-secondary-light: #735C00;
  --md-sys-color-on-secondary-light: #FFFFFF;
  --md-sys-color-secondary-container-light: #FFE089;
  --md-sys-color-on-secondary-container-light: #241A00;
  --md-sys-color-secondary-fixed-light: #FFE089;
  --md-sys-color-on-secondary-fixed-light: #241A00;
  --md-sys-color-secondary-fixed-dim-light: #F0C100;
  --md-sys-color-on-secondary-fixed-variant-light: #574500;
  --md-sys-color-tertiary-light: #006B5D;
  --md-sys-color-on-tertiary-light: #FFFFFF;
  --md-sys-color-tertiary-container-light: #77F8E0;
  --md-sys-color-on-tertiary-container-light: #00201B;
  --md-sys-color-tertiary-fixed-light: #77F8E0;
  --md-sys-color-on-tertiary-fixed-light: #00201B;
  --md-sys-color-tertiary-fixed-dim-light: #57DBC4;
  --md-sys-color-on-tertiary-fixed-variant-light: #005045;
  --md-sys-color-error-light: #BA1A1A;
  --md-sys-color-on-error-light: #FFFFFF;
  --md-sys-color-error-container-light: #FFDAD6;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-outline-light: #7D7667;
  --md-sys-color-background-light: #fff;
  --md-sys-color-on-background-light: #1E1B16;
  --md-sys-color-surface-light: #FFF8F0;
  --md-sys-color-on-surface-light: #1E1B16;
  --md-sys-color-surface-variant-light: #EBE1CF;
  --md-sys-color-on-surface-variant-light: #4C4639;
  --md-sys-color-inverse-surface-light: #33302A;
  --md-sys-color-inverse-on-surface-light: #F7F0E7;
  --md-sys-color-inverse-primary-light: #F0C100;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #735C00;
  --md-sys-color-outline-variant-light: #CFC6B4;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-container-highest-light: #E8E2D9;
  --md-sys-color-surface-container-high-light: #EEE7DE;
  --md-sys-color-surface-container-light: #F4EDE4;
  --md-sys-color-surface-container-low-light: #FAF3E9;
  --md-sys-color-surface-container-lowest-light: #FFFFFF;
  --md-sys-color-surface-bright-light: #FFF8F0;
  --md-sys-color-surface-dim-light: #E0D9D0;
  /* dark */
  --md-sys-color-primary-dark: #F0C100;
  --md-sys-color-on-primary-dark: #3D2F00;
  --md-sys-color-primary-container-dark: #574500;
  --md-sys-color-on-primary-container-dark: #FFE089;
  --md-sys-color-primary-fixed-dark: #FFE089;
  --md-sys-color-on-primary-fixed-dark: #241A00;
  --md-sys-color-primary-fixed-dim-dark: #F0C100;
  --md-sys-color-on-primary-fixed-variant-dark: #574500;
  --md-sys-color-secondary-dark: #F0C100;
  --md-sys-color-on-secondary-dark: #3D2F00;
  --md-sys-color-secondary-container-dark: #574500;
  --md-sys-color-on-secondary-container-dark: #FFE089;
  --md-sys-color-secondary-fixed-dark: #FFE089;
  --md-sys-color-on-secondary-fixed-dark: #241A00;
  --md-sys-color-secondary-fixed-dim-dark: #F0C100;
  --md-sys-color-on-secondary-fixed-variant-dark: #574500;
  --md-sys-color-tertiary-dark: #57DBC4;
  --md-sys-color-on-tertiary-dark: #00382F;
  --md-sys-color-tertiary-container-dark: #005045;
  --md-sys-color-on-tertiary-container-dark: #77F8E0;
  --md-sys-color-tertiary-fixed-dark: #77F8E0;
  --md-sys-color-on-tertiary-fixed-dark: #00201B;
  --md-sys-color-tertiary-fixed-dim-dark: #57DBC4;
  --md-sys-color-on-tertiary-fixed-variant-dark: #005045;
  --md-sys-color-error-dark: #FFB4AB;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-error-container-dark: #93000A;
  --md-sys-color-on-error-container-dark: #FFDAD6;
  --md-sys-color-outline-dark: #989080;
  --md-sys-color-background-dark: #1E1B16;
  --md-sys-color-on-background-dark: #E8E2D9;
  --md-sys-color-surface-dark: #15130E;
  --md-sys-color-on-surface-dark: #CCC6BD;
  --md-sys-color-surface-variant-dark: #4C4639;
  --md-sys-color-on-surface-variant-dark: #CFC6B4;
  --md-sys-color-inverse-surface-dark: #E8E2D9;
  --md-sys-color-inverse-on-surface-dark: #1E1B16;
  --md-sys-color-inverse-primary-dark: #735C00;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #F0C100;
  --md-sys-color-outline-variant-dark: #4C4639;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-container-highest-dark: #37342E;
  --md-sys-color-surface-container-high-dark: #2C2A24;
  --md-sys-color-surface-container-dark: #221F1A;
  --md-sys-color-surface-container-low-dark: #1E1B16;
  --md-sys-color-surface-container-lowest-dark: #100E09;
  --md-sys-color-surface-bright-dark: #3C3933;
  --md-sys-color-surface-dim-dark: #15130E;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}

.theme-red {
  --md-source: #C00A35;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #270004;
  --md-ref-palette-primary5: #2c0005;
  --md-ref-palette-primary6: #310006;
  --md-ref-palette-primary10: #40000b;
  --md-ref-palette-primary12: #48000d;
  --md-ref-palette-primary17: #5c0013;
  --md-ref-palette-primary20: #680017;
  --md-ref-palette-primary22: #70001a;
  --md-ref-palette-primary24: #78001c;
  --md-ref-palette-primary25: #7d001e;
  --md-ref-palette-primary30: #920025;
  --md-ref-palette-primary35: #a8002c;
  --md-ref-palette-primary40: #bd0634;
  --md-ref-palette-primary50: #e12d49;
  --md-ref-palette-primary60: #ff5164;
  --md-ref-palette-primary70: #ff888e;
  --md-ref-palette-primary80: #ffb3b4;
  --md-ref-palette-primary87: #ffcecf;
  --md-ref-palette-primary90: #ffdada;
  --md-ref-palette-primary92: #ffe1e1;
  --md-ref-palette-primary94: #ffe9e8;
  --md-ref-palette-primary95: #ffedec;
  --md-ref-palette-primary96: #fff0f0;
  --md-ref-palette-primary98: #fff8f7;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #1c0809;
  --md-ref-palette-secondary5: #200a0c;
  --md-ref-palette-secondary6: #230d0e;
  --md-ref-palette-secondary10: #2c1516;
  --md-ref-palette-secondary12: #31191a;
  --md-ref-palette-secondary17: #3d2324;
  --md-ref-palette-secondary20: #44292a;
  --md-ref-palette-secondary22: #492d2e;
  --md-ref-palette-secondary24: #4e3232;
  --md-ref-palette-secondary25: #503435;
  --md-ref-palette-secondary30: #5d3f40;
  --md-ref-palette-secondary35: #694a4b;
  --md-ref-palette-secondary40: #765657;
  --md-ref-palette-secondary50: #916e6f;
  --md-ref-palette-secondary60: #ad8888;
  --md-ref-palette-secondary70: #c9a2a2;
  --md-ref-palette-secondary80: #e6bdbd;
  --md-ref-palette-secondary87: #fbd0d0;
  --md-ref-palette-secondary90: #ffdada;
  --md-ref-palette-secondary92: #ffe1e1;
  --md-ref-palette-secondary94: #ffe9e8;
  --md-ref-palette-secondary95: #ffedec;
  --md-ref-palette-secondary96: #fff0f0;
  --md-ref-palette-secondary98: #fff8f7;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #170c00;
  --md-ref-palette-tertiary5: #1b0e00;
  --md-ref-palette-tertiary6: #1e1100;
  --md-ref-palette-tertiary10: #291800;
  --md-ref-palette-tertiary12: #2e1c00;
  --md-ref-palette-tertiary17: #3b2601;
  --md-ref-palette-tertiary20: #422c05;
  --md-ref-palette-tertiary22: #473009;
  --md-ref-palette-tertiary24: #4c350d;
  --md-ref-palette-tertiary25: #4f370f;
  --md-ref-palette-tertiary30: #5b421a;
  --md-ref-palette-tertiary35: #684e24;
  --md-ref-palette-tertiary40: #755a2f;
  --md-ref-palette-tertiary50: #907245;
  --md-ref-palette-tertiary60: #ac8b5c;
  --md-ref-palette-tertiary70: #c9a674;
  --md-ref-palette-tertiary80: #e6c18d;
  --md-ref-palette-tertiary87: #fad49f;
  --md-ref-palette-tertiary90: #ffddb0;
  --md-ref-palette-tertiary92: #ffe4c2;
  --md-ref-palette-tertiary94: #ffebd3;
  --md-ref-palette-tertiary95: #ffeedb;
  --md-ref-palette-tertiary96: #fff1e3;
  --md-ref-palette-tertiary98: #fff8f3;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #120d0d;
  --md-ref-palette-neutral5: #151010;
  --md-ref-palette-neutral6: #181212;
  --md-ref-palette-neutral10: #201a1a;
  --md-ref-palette-neutral12: #241e1e;
  --md-ref-palette-neutral17: #2f2828;
  --md-ref-palette-neutral20: #362f2f;
  --md-ref-palette-neutral22: #3a3333;
  --md-ref-palette-neutral24: #3f3737;
  --md-ref-palette-neutral25: #413a39;
  --md-ref-palette-neutral30: #4d4545;
  --md-ref-palette-neutral35: #595050;
  --md-ref-palette-neutral40: #655c5c;
  --md-ref-palette-neutral50: #7e7575;
  --md-ref-palette-neutral60: #998e8e;
  --md-ref-palette-neutral70: #b4a9a8;
  --md-ref-palette-neutral80: #d0c4c3;
  --md-ref-palette-neutral87: #e4d7d7;
  --md-ref-palette-neutral90: #ece0df;
  --md-ref-palette-neutral92: #f2e5e5;
  --md-ref-palette-neutral94: #f8ebea;
  --md-ref-palette-neutral95: #fbeeed;
  --md-ref-palette-neutral96: #fef1f0;
  --md-ref-palette-neutral98: #fff8f7;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #160b0c;
  --md-ref-palette-neutral-variant5: #190e0e;
  --md-ref-palette-neutral-variant6: #1c1011;
  --md-ref-palette-neutral-variant10: #251819;
  --md-ref-palette-neutral-variant12: #291c1d;
  --md-ref-palette-neutral-variant17: #342727;
  --md-ref-palette-neutral-variant20: #3b2d2d;
  --md-ref-palette-neutral-variant22: #3f3131;
  --md-ref-palette-neutral-variant24: #443636;
  --md-ref-palette-neutral-variant25: #463838;
  --md-ref-palette-neutral-variant30: #524343;
  --md-ref-palette-neutral-variant35: #5f4f4f;
  --md-ref-palette-neutral-variant40: #6b5a5a;
  --md-ref-palette-neutral-variant50: #857373;
  --md-ref-palette-neutral-variant60: #9f8c8c;
  --md-ref-palette-neutral-variant70: #bba6a6;
  --md-ref-palette-neutral-variant80: #d7c1c1;
  --md-ref-palette-neutral-variant87: #ebd5d4;
  --md-ref-palette-neutral-variant90: #f4dddd;
  --md-ref-palette-neutral-variant92: #fae3e2;
  --md-ref-palette-neutral-variant94: #ffe9e8;
  --md-ref-palette-neutral-variant95: #ffedec;
  --md-ref-palette-neutral-variant96: #fff0f0;
  --md-ref-palette-neutral-variant98: #fff8f7;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #bd0634;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #ffdada;
  --md-sys-color-on-primary-container-light: #40000b;
  --md-sys-color-primary-fixed-light: #ffdada;
  --md-sys-color-on-primary-fixed-light: #40000b;
  --md-sys-color-primary-fixed-dim-light: #ffb3b4;
  --md-sys-color-on-primary-fixed-variant-light: #920025;
  --md-sys-color-secondary-light: #765657;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #ffdada;
  --md-sys-color-on-secondary-container-light: #2c1516;
  --md-sys-color-secondary-fixed-light: #ffdada;
  --md-sys-color-on-secondary-fixed-light: #2c1516;
  --md-sys-color-secondary-fixed-dim-light: #e6bdbd;
  --md-sys-color-on-secondary-fixed-variant-light: #5d3f40;
  --md-sys-color-tertiary-light: #755a2f;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #ffddb0;
  --md-sys-color-on-tertiary-container-light: #291800;
  --md-sys-color-tertiary-fixed-light: #ffddb0;
  --md-sys-color-on-tertiary-fixed-light: #291800;
  --md-sys-color-tertiary-fixed-dim-light: #e6c18d;
  --md-sys-color-on-tertiary-fixed-variant-light: #5b421a;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #201a1a;
  --md-sys-color-outline-light: #857373;
  --md-sys-color-inverse-on-surface-light: #fbeeed;
  --md-sys-color-inverse-surface-light: #362f2f;
  --md-sys-color-inverse-primary-light: #ffb3b4;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #bd0634;
  --md-sys-color-outline-variant-light: #d7c1c1;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #fff8f7;
  --md-sys-color-on-surface-light: #201a1a;
  --md-sys-color-surface-variant-light: #f4dddd;
  --md-sys-color-on-surface-variant-light: #524343;
  --md-sys-color-surface-container-highest-light: #ece0df;
  --md-sys-color-surface-container-high-light: #f2e5e5;
  --md-sys-color-surface-container-light: #f8ebea;
  --md-sys-color-surface-container-low-light: #fef1f0;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #e4d7d7;
  --md-sys-color-surface-bright-light: #fff8f7;
  /* dark */
  --md-sys-color-primary-dark: #ffb3b4;
  --md-sys-color-on-primary-dark: #680017;
  --md-sys-color-primary-container-dark: #920025;
  --md-sys-color-on-primary-container-dark: #ffdada;
  --md-sys-color-primary-fixed-dark: #ffdada;
  --md-sys-color-on-primary-fixed-dark: #40000b;
  --md-sys-color-primary-fixed-dim-dark: #ffb3b4;
  --md-sys-color-on-primary-fixed-variant-dark: #920025;
  --md-sys-color-secondary-dark: #e6bdbd;
  --md-sys-color-on-secondary-dark: #44292a;
  --md-sys-color-secondary-container-dark: #5d3f40;
  --md-sys-color-on-secondary-container-dark: #ffdada;
  --md-sys-color-secondary-fixed-dark: #ffdada;
  --md-sys-color-on-secondary-fixed-dark: #2c1516;
  --md-sys-color-secondary-fixed-dim-dark: #e6bdbd;
  --md-sys-color-on-secondary-fixed-variant-dark: #5d3f40;
  --md-sys-color-tertiary-dark: #e6c18d;
  --md-sys-color-on-tertiary-dark: #422c05;
  --md-sys-color-tertiary-container-dark: #5b421a;
  --md-sys-color-on-tertiary-container-dark: #ffddb0;
  --md-sys-color-tertiary-fixed-dark: #ffddb0;
  --md-sys-color-on-tertiary-fixed-dark: #291800;
  --md-sys-color-tertiary-fixed-dim-dark: #e6c18d;
  --md-sys-color-on-tertiary-fixed-variant-dark: #5b421a;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #201a1a;
  --md-sys-color-on-background-dark: #ece0df;
  --md-sys-color-outline-dark: #9f8c8c;
  --md-sys-color-inverse-on-surface-dark: #201a1a;
  --md-sys-color-inverse-surface-dark: #ece0df;
  --md-sys-color-inverse-primary-dark: #bd0634;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #ffb3b4;
  --md-sys-color-outline-variant-dark: #524343;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #181212;
  --md-sys-color-on-surface-dark: #d0c4c3;
  --md-sys-color-surface-variant-dark: #524343;
  --md-sys-color-on-surface-variant-dark: #d7c1c1;
  --md-sys-color-surface-container-highest-dark: #3a3333;
  --md-sys-color-surface-container-high-dark: #2f2828;
  --md-sys-color-surface-container-dark: #241e1e;
  --md-sys-color-surface-container-low-dark: #201a1a;
  --md-sys-color-surface-container-lowest-dark: #120d0d;
  --md-sys-color-surface-dim-dark: #181212;
  --md-sys-color-surface-bright-dark: #3f3737;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}

.theme-green {
  --md-source: #24A793;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #00110e;
  --md-ref-palette-primary5: #001410;
  --md-ref-palette-primary6: #001713;
  --md-ref-palette-primary10: #00201b;
  --md-ref-palette-primary12: #00251f;
  --md-ref-palette-primary17: #003029;
  --md-ref-palette-primary20: #00382f;
  --md-ref-palette-primary22: #003c34;
  --md-ref-palette-primary24: #004138;
  --md-ref-palette-primary25: #00443a;
  --md-ref-palette-primary30: #005045;
  --md-ref-palette-primary35: #005d51;
  --md-ref-palette-primary40: #006b5d;
  --md-ref-palette-primary50: #008675;
  --md-ref-palette-primary60: #00a38e;
  --md-ref-palette-primary70: #32bfa9;
  --md-ref-palette-primary80: #57dbc4;
  --md-ref-palette-primary87: #6defd7;
  --md-ref-palette-primary90: #77f8e0;
  --md-ref-palette-primary92: #7dfee5;
  --md-ref-palette-primary94: #a3ffeb;
  --md-ref-palette-primary95: #b6ffee;
  --md-ref-palette-primary96: #c7fff1;
  --md-ref-palette-primary98: #e5fff7;
  --md-ref-palette-primary99: #f3fffa;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #00110e;
  --md-ref-palette-secondary5: #001410;
  --md-ref-palette-secondary6: #001713;
  --md-ref-palette-secondary10: #06201b;
  --md-ref-palette-secondary12: #0a241f;
  --md-ref-palette-secondary17: #162e29;
  --md-ref-palette-secondary20: #1c3530;
  --md-ref-palette-secondary22: #213934;
  --md-ref-palette-secondary24: #253e38;
  --md-ref-palette-secondary25: #28403b;
  --md-ref-palette-secondary30: #334b46;
  --md-ref-palette-secondary35: #3e5751;
  --md-ref-palette-secondary40: #4a635d;
  --md-ref-palette-secondary50: #637c76;
  --md-ref-palette-secondary60: #7c968f;
  --md-ref-palette-secondary70: #96b1aa;
  --md-ref-palette-secondary80: #b1ccc5;
  --md-ref-palette-secondary87: #c4e0d8;
  --md-ref-palette-secondary90: #cde8e0;
  --md-ref-palette-secondary92: #d2eee6;
  --md-ref-palette-secondary94: #d8f4ec;
  --md-ref-palette-secondary95: #dbf7ef;
  --md-ref-palette-secondary96: #defaf1;
  --md-ref-palette-secondary98: #e5fff7;
  --md-ref-palette-secondary99: #f3fffa;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #00101b;
  --md-ref-palette-tertiary5: #001320;
  --md-ref-palette-tertiary6: #001523;
  --md-ref-palette-tertiary10: #001e2f;
  --md-ref-palette-tertiary12: #002235;
  --md-ref-palette-tertiary17: #0a2d41;
  --md-ref-palette-tertiary20: #123348;
  --md-ref-palette-tertiary22: #18384d;
  --md-ref-palette-tertiary24: #1d3c51;
  --md-ref-palette-tertiary25: #1f3e54;
  --md-ref-palette-tertiary30: #2b4a60;
  --md-ref-palette-tertiary35: #37566c;
  --md-ref-palette-tertiary40: #446278;
  --md-ref-palette-tertiary50: #5c7a92;
  --md-ref-palette-tertiary60: #7694ad;
  --md-ref-palette-tertiary70: #90afc8;
  --md-ref-palette-tertiary80: #abcae4;
  --md-ref-palette-tertiary87: #bfdef9;
  --md-ref-palette-tertiary90: #c9e6ff;
  --md-ref-palette-tertiary92: #d5ebff;
  --md-ref-palette-tertiary94: #e0f0ff;
  --md-ref-palette-tertiary95: #e6f2ff;
  --md-ref-palette-tertiary96: #ebf5ff;
  --md-ref-palette-tertiary98: #f6faff;
  --md-ref-palette-tertiary99: #fcfcff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #0b0f0e;
  --md-ref-palette-neutral5: #0e1211;
  --md-ref-palette-neutral6: #101413;
  --md-ref-palette-neutral10: #191c1b;
  --md-ref-palette-neutral12: #1d201f;
  --md-ref-palette-neutral17: #272b29;
  --md-ref-palette-neutral20: #2d3130;
  --md-ref-palette-neutral22: #323534;
  --md-ref-palette-neutral24: #363a39;
  --md-ref-palette-neutral25: #393c3b;
  --md-ref-palette-neutral30: #444746;
  --md-ref-palette-neutral35: #505352;
  --md-ref-palette-neutral40: #5c5f5d;
  --md-ref-palette-neutral50: #747876;
  --md-ref-palette-neutral60: #8e918f;
  --md-ref-palette-neutral70: #a9acaa;
  --md-ref-palette-neutral80: #c4c7c5;
  --md-ref-palette-neutral87: #d8dbd8;
  --md-ref-palette-neutral90: #e0e3e1;
  --md-ref-palette-neutral92: #e6e9e6;
  --md-ref-palette-neutral94: #eceeec;
  --md-ref-palette-neutral95: #eff1ef;
  --md-ref-palette-neutral96: #f2f4f2;
  --md-ref-palette-neutral98: #f8faf7;
  --md-ref-palette-neutral99: #fafdfa;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #07100e;
  --md-ref-palette-neutral-variant5: #091311;
  --md-ref-palette-neutral-variant6: #0c1513;
  --md-ref-palette-neutral-variant10: #141d1b;
  --md-ref-palette-neutral-variant12: #18211f;
  --md-ref-palette-neutral-variant17: #222c29;
  --md-ref-palette-neutral-variant20: #293230;
  --md-ref-palette-neutral-variant22: #2d3734;
  --md-ref-palette-neutral-variant24: #323b39;
  --md-ref-palette-neutral-variant25: #343d3b;
  --md-ref-palette-neutral-variant30: #3f4946;
  --md-ref-palette-neutral-variant35: #4b5452;
  --md-ref-palette-neutral-variant40: #57605d;
  --md-ref-palette-neutral-variant50: #6f7976;
  --md-ref-palette-neutral-variant60: #89938f;
  --md-ref-palette-neutral-variant70: #a3adaa;
  --md-ref-palette-neutral-variant80: #bec9c5;
  --md-ref-palette-neutral-variant87: #d2dcd8;
  --md-ref-palette-neutral-variant90: #dae5e1;
  --md-ref-palette-neutral-variant92: #e0eae6;
  --md-ref-palette-neutral-variant94: #e6f0ec;
  --md-ref-palette-neutral-variant95: #e9f3ef;
  --md-ref-palette-neutral-variant96: #ecf6f2;
  --md-ref-palette-neutral-variant98: #f1fcf7;
  --md-ref-palette-neutral-variant99: #f4fffa;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #006b5d;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #77f8e0;
  --md-sys-color-on-primary-container-light: #00201b;
  --md-sys-color-primary-fixed-light: #77f8e0;
  --md-sys-color-on-primary-fixed-light: #00201b;
  --md-sys-color-primary-fixed-dim-light: #57dbc4;
  --md-sys-color-on-primary-fixed-variant-light: #005045;
  --md-sys-color-secondary-light: #4a635d;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #cde8e0;
  --md-sys-color-on-secondary-container-light: #06201b;
  --md-sys-color-secondary-fixed-light: #cde8e0;
  --md-sys-color-on-secondary-fixed-light: #06201b;
  --md-sys-color-secondary-fixed-dim-light: #b1ccc5;
  --md-sys-color-on-secondary-fixed-variant-light: #334b46;
  --md-sys-color-tertiary-light: #446278;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #c9e6ff;
  --md-sys-color-on-tertiary-container-light: #001e2f;
  --md-sys-color-tertiary-fixed-light: #c9e6ff;
  --md-sys-color-on-tertiary-fixed-light: #001e2f;
  --md-sys-color-tertiary-fixed-dim-light: #abcae4;
  --md-sys-color-on-tertiary-fixed-variant-light: #2b4a60;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fafdfa;
  --md-sys-color-on-background-light: #191c1b;
  --md-sys-color-outline-light: #6f7976;
  --md-sys-color-inverse-on-surface-light: #eff1ef;
  --md-sys-color-inverse-surface-light: #2d3130;
  --md-sys-color-inverse-primary-light: #57dbc4;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #006b5d;
  --md-sys-color-outline-variant-light: #bec9c5;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #f8faf7;
  --md-sys-color-on-surface-light: #191c1b;
  --md-sys-color-surface-variant-light: #dae5e1;
  --md-sys-color-on-surface-variant-light: #3f4946;
  --md-sys-color-surface-container-highest-light: #e0e3e1;
  --md-sys-color-surface-container-high-light: #e6e9e6;
  --md-sys-color-surface-container-light: #eceeec;
  --md-sys-color-surface-container-low-light: #f2f4f2;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #d8dbd8;
  --md-sys-color-surface-bright-light: #f8faf7;
  /* dark */
  --md-sys-color-primary-dark: #57dbc4;
  --md-sys-color-on-primary-dark: #00382f;
  --md-sys-color-primary-container-dark: #005045;
  --md-sys-color-on-primary-container-dark: #77f8e0;
  --md-sys-color-primary-fixed-dark: #77f8e0;
  --md-sys-color-on-primary-fixed-dark: #00201b;
  --md-sys-color-primary-fixed-dim-dark: #57dbc4;
  --md-sys-color-on-primary-fixed-variant-dark: #005045;
  --md-sys-color-secondary-dark: #b1ccc5;
  --md-sys-color-on-secondary-dark: #1c3530;
  --md-sys-color-secondary-container-dark: #334b46;
  --md-sys-color-on-secondary-container-dark: #cde8e0;
  --md-sys-color-secondary-fixed-dark: #cde8e0;
  --md-sys-color-on-secondary-fixed-dark: #06201b;
  --md-sys-color-secondary-fixed-dim-dark: #b1ccc5;
  --md-sys-color-on-secondary-fixed-variant-dark: #334b46;
  --md-sys-color-tertiary-dark: #abcae4;
  --md-sys-color-on-tertiary-dark: #123348;
  --md-sys-color-tertiary-container-dark: #2b4a60;
  --md-sys-color-on-tertiary-container-dark: #c9e6ff;
  --md-sys-color-tertiary-fixed-dark: #c9e6ff;
  --md-sys-color-on-tertiary-fixed-dark: #001e2f;
  --md-sys-color-tertiary-fixed-dim-dark: #abcae4;
  --md-sys-color-on-tertiary-fixed-variant-dark: #2b4a60;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #191c1b;
  --md-sys-color-on-background-dark: #e0e3e1;
  --md-sys-color-outline-dark: #89938f;
  --md-sys-color-inverse-on-surface-dark: #191c1b;
  --md-sys-color-inverse-surface-dark: #e0e3e1;
  --md-sys-color-inverse-primary-dark: #006b5d;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #57dbc4;
  --md-sys-color-outline-variant-dark: #3f4946;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #101413;
  --md-sys-color-on-surface-dark: #c4c7c5;
  --md-sys-color-surface-variant-dark: #3f4946;
  --md-sys-color-on-surface-variant-dark: #bec9c5;
  --md-sys-color-surface-container-highest-dark: #323534;
  --md-sys-color-surface-container-high-dark: #272b29;
  --md-sys-color-surface-container-dark: #1d201f;
  --md-sys-color-surface-container-low-dark: #191c1b;
  --md-sys-color-surface-container-lowest-dark: #0b0f0e;
  --md-sys-color-surface-dim-dark: #101413;
  --md-sys-color-surface-bright-dark: #363a39;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}